<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBz7HRg0grTkFNm4xHjPgaAQ3g9WlSUMpo</string>
	<key>GCM_SENDER_ID</key>
	<string>572995030283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nnacttechnician</string>
	<key>PROJECT_ID</key>
	<string>nnact-technician</string>
	<key>STORAGE_BUCKET</key>
	<string>nnact-technician.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572995030283:ios:77efeb3c0bb9b4964fa60e</string>
</dict>
</plist>